/* LICENSE & DETAILS
   ==================================================

	Theme Name: Dilate Framework
	Theme URI: http://www.dilate.com.au/
	Description: An Incredible Responsive Multi-Purpose WordPress Theme
	License: GNU General Public License version 3.0
	License URI: http://www.gnu.org/licenses/gpl-3.0.html
	Template: cardinal
	Version: 1.0
	Author: Dilate Digital
	Author URI: www.dilate.com.au

	All files, unless otherwise stated, are released under the GNU General Public License
	version 3.0 (http://www.gnu.org/licenses/gpl-3.0.html)

   ==================================================
*/


/* --------------------------------------------
	CHILD THEME CSS
-------------------------------------------- */


/* --------------------------------------------
	CARDINAL CSS IMPORT
-------------------------------------------- */

@import url("../cardinal/style.css");


/* --------------------------------------------
	IOS MODAL FORM FIX - CSS
-------------------------------------------- */
.apple-mobile-browser.modal-open{
	position:fixed !important;
}
.apple-mobile-browser.modal-open .modal .modal-dialog{
	overflow:hidden !important;
}


/* ----------------------------------------------
 CSS VERSION FOR THE BACKGROUND FIX 
------------------------------------------------- */
@media screen and (max-width: 767px) {
	div.spb-row,
	div.spb-row[data-image-movement="fixed"] {
		background-attachment: scroll !important;
		-webkit-transform: translateZ(0) !important; 
		-o-background-size: cover;
		-moz-background-size: cover;
		-webkit-background-size:cover;
	}
}

